# ─── Python ─────────────────────────────
voice-agent-backend__pycache__/
voice-agent-backend*.pyc
voice-agent-backend*.pyo
voice-agent-backend*.pyd

# ─── Virtual Environment ────────────────
voice-agent-backend.env/

# ─── Environment Variables ──────────────
voice-agent-backend.env


# ─── Logs / temp ────────────────────────
*.log
*.tmp

models/
# Python
voice-agent-backend/venv/
voice-agent-backend/audio_responses/

# Frontend
voice-agent-frontend/node_modules/

# General
.DS_Store
*.wav