# ─── Python ─────────────────────────────
backend__pycache__/
backend*.pyc
backend*.pyo
backend*.pyd

# ─── Virtual Environment ────────────────
backend.env/

# ─── Environment Variables ──────────────
backend.env


# ─── Logs / temp ────────────────────────
*.log
*.tmp

models/
# Python
backend/venv/
backend/audio_responses/

# Frontend
frontend/node_modules/

# General
.DS_Store
*.wav

echo "backend/chroma_db/"